.Login{
  min-height: 100%;
}

.Login__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 34px 30px 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .Login__content{
    padding: 24px 30px 0;
  }
}

@media screen and (min-width: 1280px) {
  .Login__content{
    padding: 24px 30px 0;
  }
}

.Login__title{
  color: #000000;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 80px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .Login__title{
    margin-bottom: 40px;
    text-align: left;
    width: 396px;
  }
}

.Login__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px;
  min-height: calc(100vh - 104px);
}

@media screen and (min-width: 768px) {
  .Login__form{
    width: 396px;
    margin-bottom: 70px;
    align-items: stretch;
  }
}

@media screen and (min-width: 1280px) {
  .Login__form{
    min-height: calc(100vh - 284px);
  }
}

.Login__controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 0;
  width: calc(100vw - 60px);
  max-width: 396px;
}

.Login__prompt{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 14px 0 0;
}

.Login__prompt-title{
  color: #A0A0A0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin: 0 7px 0 0;
}

@media screen and (min-width: 768px) {
  .Login__prompt-title{
    font-size: 14px;
    line-height: 17px;
  }
}