.Techs{
  width: 100%;
  min-height: 625px;
  box-sizing: border-box;
  padding: 70px 18px;
}

@media screen and (min-width: 768px) {
  .Techs{
    background: #F5F5F5;
    padding: 90px 50px;
    min-height: 567px;
  }
}

@media screen and (min-width: 1280px) {
  .Techs{
    padding: 100px 70px;
  }
}


.Techs__title{
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  padding-bottom: 28px;
  border-bottom: solid #000000 1px;
  margin: 0 0 60px;
}

@media screen and (min-width: 768px) {
  .Techs__title{
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 76px;
    padding-bottom: 23px;
  }
}

@media screen and (min-width: 1280px) {
  .Techs__title{
    margin-bottom: 90px;
  }
}

.Techs__content{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Techs__seven-title{
  margin: 0 0 24px;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .Techs__seven-title{
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 1280px) {
  .Techs__seven-title{
    font-size: 50px;
    line-height: 58px;
    margin-bottom: 26px;
  }
}

.Techs__seven-description{
  margin: 0 0 50px;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: -0.04em;
  max-width: 460px;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .Techs__seven-description{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 83px;
  }
}

@media screen and (min-width: 1280px) {
  .Techs__seven-description{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 100px;
  }
}

.Techs__seven-table{
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 84px);
  width: calc(100vw - 60px);
  max-width: 420px;
  justify-items: center;
  justify-content: center;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media screen and (min-width: 768px) {
  .Techs__seven-table{
    margin: 0 10px;
    grid-template-columns: repeat(7, auto);
  }
}

.Techs__seven-item{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.04em;
  background: #E8E8E8;
  border-radius: 10px;
  width: 84px;
  height: 57px;
}

@media screen and (min-width: 1024px) {
  .Techs__seven-item{
    font-size: 14px;
    line-height: 17px;
    width: 90px;
    height: 60px;
  }
}
