.MEFilterSwitch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  flex-basis: 36px;
  flex-grow: 0;
  flex-shrink: 0;
}

.MEFilterSwitch__input {
  display:none;
}

.MEFilterSwitch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EBEBEB;;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
}
.MEFilterSwitch__slider:hover {
  opacity: 0.8;
}

.MEFilterSwitch__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #F5F5F5;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 16px;
}

.MEFilterSwitch__input:checked + .MEFilterSwitch__slider {
  background-color: #FAFAFA;
}

.MEFilterSwitch__input:focus + .MEFilterSwitch__slider {
  background-color: #FAFAFA;
}

.MEFilterSwitch__input:checked + .MEFilterSwitch__slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
  background-color: #2BE080;
}
