.App{
  background: #FAFAFA;
  font-family: Inter, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering:  optimizeLegibility;
}

.App__main{
  margin: 0 auto;
  max-width: 1280px;
}

.App__movies{
  margin: 0 auto;
  max-width: 1280px;
}

.App__save-movies{
  margin: 0 auto;
  max-width: 1280px;
}

.App__profile{
  margin: 0 auto;
  max-width: 1280px;
}
