.MENavLink{
  color: #000000;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.MENavLink_type_header{
  font-size: 13px;
  line-height: 18px;
  display: none;
}

.MENavLink_type_header:hover{
  font-weight: 500;
}

.MENavLink_type_header.active{
  font-weight: 500;
}

@media screen and (min-width: 1280px) {
  .MENavLink_type_header{
    display: inline-block;
  }
}

.MENavLink_type_popup{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 6px;
}

.MENavLink_type_popup:hover{
  border-bottom: solid #000000 2px;
}

.MENavLink_type_popup.active{
  border-bottom: solid #000000 2px;
}
