.MEButton{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  background: #3456F3;
  border-radius: 3px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
}

.MEButton:hover{
  opacity: 0.8;
}

.MEButton_type_promo{
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  background: #DDDEE3;
  border: 1px solid #000000;
  width: 132px;
  margin-top: auto;
  padding: 10px 20px;
  opacity: 0.6;
  margin-bottom: 75px;
}

@media screen and (max-width: 480px) {
  .MEButton_type_promo{
    margin-bottom: 30px;
  }
}