.MELinkButton{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  background: #3456F3;
  border-radius: 3px;
  box-sizing: border-box;
  color: #FFFFFF;
  text-decoration: none;
}

.MELinkButton:hover{
  opacity: 0.8;
}

.MELinkButton_type_header{
  font-size: 10px;
  line-height: 16px;
  padding: 5px 12px;
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
  .MELinkButton_type_header{
      font-size: 12px;
      margin-left: 30px;
      padding: 8px 20px;
  }
}
