.Profile{
  min-height: 100%;
}

.Profile__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 70px 30px 0;
  box-sizing: border-box;
}

@media screen and (min-width: 768px) {
  .Profile__content{
    padding: 236px 30px 0;
  }
}

@media screen and (min-width: 1280px) {
  .Profile__content{
    padding: 74px 30px 0;
  }
}

.Profile__title{
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin: 0 0 80px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .Profile__title{
    margin-bottom: 96px;
  }
}

@media screen and (min-width: 1280px) {
  .Profile__title{
    margin-bottom: 123px;
  }
}

.Profile__form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 40px;
  min-height: calc(100vh - 184px);
}

@media screen and (min-width: 768px) {
  .Profile__form{
    width: 396px;
    margin-bottom: 70px;
    align-items: stretch;
    min-height: calc(100vh - 579px);
  }
}

@media screen and (min-width: 1280px) {
  .Profile__form{
    min-height: calc(100vh - 218px);
  }
}

.Profile__controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 0;
  width: calc(100vw - 60px);
  max-width: 396px;
}
