.SearchForm{
  display: flex;
  flex-direction: column;
  padding: 70px 70px 0;
}

@media screen and (max-width: 768px) {
  .SearchForm{
    padding: 70px 30px 0;
  }
}

@media screen and (max-width: 320px) {
  .SearchForm{
    padding: 70px 14px 0;
  }
}

.SearchForm__input{
  display: flex;
  padding: 10px;
  margin: 0 0 26px;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .SearchForm__input{
    padding: 6px;
  }
}

.SearchForm__input-movie{
  flex: 1 1 50px;
  min-width: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  padding: 12px 25px 13px;
  background: #FAFAFA;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

@media screen and (max-width: 320px) {
  .SearchForm__input-movie{
    font-size: 16px;
    line-height: 16px;
    padding: 12px 12px 13px;
  }
}

.SearchForm__shortfilm{
  display: flex;
  align-items: center;
  padding: 0 0 43px;
  margin: 0 0 10px;
  border-bottom: 1px solid rgba(170, 170, 170, 0.2);
}

@media screen and (max-width: 768px) {
  .SearchForm__shortfilm{
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 320px) {
  .SearchForm__shortfilm{
    padding-bottom: 64px;
  }
}

.SearchForm__shortfilm-title{
  color: #000000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 14px;
}

@media screen and (max-width: 320px) {
  .SearchForm__shortfilm-title{
    font-size: 11px;
    margin-left: 13px;
  }
}