.SavedMovies{
  background: #FAFAFA;
  width: 100%;
}

.SavedMovies__content{
  margin: 0;
  padding: 40px 10px 0;
  box-sizing: border-box;
  min-height: 716px;
}

@media screen and (min-width: 768px) {
  .SavedMovies__content{
    padding: 40px 30px 0;
    min-height: 788px;
  }
}

@media screen and (min-width: 1280px) {
  .SavedMovies__content{
    padding: 40px 70px 0;
    min-height: 540px;
  }
}