.MoviesCardList{
  margin: 0 0 80px;
}

.MoviesCardList__films{
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  list-style-type: none;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .MoviesCardList__films{
    grid-template-columns: repeat( 2, minmax(339px, 1fr));
    row-gap: 29px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .MoviesCardList__films{
    grid-template-columns: repeat( 4, minmax(270px, 1fr));
    row-gap: 38px;
    column-gap: 20px;
  }
}

.MoviesCardList__notfound{
  color: #000000;
  margin: 0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}