
.MEFormError{
  color: #EE3465;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  visibility: hidden;
  width: calc(100vw - 60px);
  max-width: 396px;
  height: 26px;
}

.MEFormError_show{
  visibility: visible;
}

.MEFormError_type_input{
  font-size: 10px;
  line-height: 12px;
  text-align: left;
}

.MEFormError_type_main{
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}