
.MEFormError{
  color: #EE3465;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  visibility: hidden;
  width: calc(100vw - 60px);
  max-width: 396px;
  height: 26px;
}

.MEFormError_show{
  visibility: visible;
}

.MEFormError_type_input{
  font-size: 10px;
  line-height: 12px;
  text-align: left;
}

.MEFormError_type_main{
  font-size: 11px;
  line-height: 13px;
  text-align: center;
}

.MEFormError_type_filter{
  font-size: 11px;
  line-height: 18px;
  text-align: right;
  height: 16px;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .MEFormError_type_filter{
    font-size: 13px;
  }
}

.MEFormError_type_movie{
  font-size: 11px;
  line-height: 18px;
  text-align: left;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .MEFormError_type_filter{
    font-size: 13px;
  }
}