.Popup{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.Popup_type_menu{
  justify-content: flex-end;
  align-items: flex-start;
}

.Popup_type_tooltip{
  justify-content: center;
  align-items: center;
}

.Popup_opened{
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}

.Popup__container{
  position: relative;
}

.Popup__container_type_menu{
  background: #FAFAFA;
  width: 100%;  
  max-width: 520px;
}

.Popup__container_type_tooltip{
  background: rgba(0, 0, 0, 0.3);
  min-height: 330px;
  max-width: 430px;
  width: calc(100vw - 80px);
}

.Popup__button-close{
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background: transparent;
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}

.Popup__button-close_type_menu{
  top: 15px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .Popup__button-close_type_menu{
    top: 22px;
    right: 22px;
  }
}

.Popup__button-close_type_tooltip{
  top: -32px;
  right: -32px;
}

@media screen and (min-width: 768px) {
  .Popup__button-close_type_tooltip{
    top: -32px;
    right: -32px;
  }
}

.Popup__button-close:hover{
  opacity: 0.6;
  cursor: pointer;
}
