.NotFound{
  min-height: 100%;
  margin: 0;
  padding: 40px 30px 30px;
}

@media screen and (min-width: 768px) {
  .NotFound{
    padding: 222px 70px;
  }
}

@media screen and (min-width: 1280px) {
  .NotFound{
    padding: 60px 70px;
  }
}

.NotFound__content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: calc(100vh - 60px);
}

@media screen and (min-width: 768px) {
  .NotFound__content{
    height: calc(100vh - 440px);
  }
}

@media screen and (min-width: 1280px) {
  .NotFound__content{
    height: calc(100vh - 120px);
  }
}

.NotFound__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  flex: 122px 1 1;
}

@media screen and (min-width: 768px) {
  .NotFound__info{
    flex: 193px 1 1;
  }
}

.NotFound__title{
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  margin: 0 0 10px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .NotFound__title{
    font-size: 140px;
    line-height: 169px;
    margin-bottom: 5px;
  }
}

.NotFound__description{
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .NotFound__description{
    font-size: 16px;
    line-height: 19px;
  }
}

.NotFound__link{
  display: flex;
  flex: 15px 0 0;
}

@media screen and (min-width: 768px) {
  .NotFound__link{
    flex: 17px 0 0;
  }
}
