.Movies__content{
  margin: 0;
  padding: 40px 10px 0;
  box-sizing: border-box;
  min-height: 100px;
}

@media screen and (min-width: 768px) {
  .Movies__content{
    padding: 70px 30px 0;
  }
}

@media screen and (min-width: 1280px) {
  .Movies__content{
    padding: 70px 70px 0;
  }
}